<div class="form-update">
    <h1>Profil utilisateur</h1>
    <form [formGroup]="responseForm">
        <mat-form-field appearance="outline">
            <mat-label>nom d’utilisateur</mat-label>
            <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
        <button mat-stroked-button class="submit-button" type="submit">Sauvegarder</button>
    </form>
</div>
<mat-divider class="divider"></mat-divider>
<section class=" topics">
    @for(topic of topics; track topic ){
    <app-topic-card [topic]="topic" [textButton]="textButton" class="card"></app-topic-card>
    }
</section>